::-webkit-scrollbar {
  width: 0.625rem;
  height: 0.625rem;
}

::-webkit-scrollbar-thumb {
  background: #111;
  border-radius: 0.3125rem;
  box-shadow: inset 0.125rem 0.125rem 0.125rem rgba(255, 255, 255, 0.25),
    inset -0.125rem -0.125rem 0.125rem rgba(0, 0, 0, 0.25);
  cursor: default;
}

::-webkit-scrollbar-track {
  background: #333;
}

::selection {
  background: #fff;
  color: #333;
}

html,
body {
  height: 100vh;
  height: 100dvh;
  margin: 0;
  overflow: hidden;
}

body {
  display: grid;
  grid-template-rows: calc(100dvh - 4rem) 4rem;
  font-family: system-ui, sans-serif;
}

canvas,
.editor,
#controls {
  grid-row: 1;
  grid-column: 1;
}

canvas {
  width: 100%;
  height: auto;
  object-fit: contain;
  background: black;
  touch-action: none;
}

.editor,
.overlay,
#error {
  background: repeating-linear-gradient(0deg, #000a, #1119, #000a .25rem);
  padding: 1em;
}

#error {
  grid-row: 2;
  grid-column: 1;
  margin: 0;
  padding-block: 0;
  padding-top: .5em;
  color: firebrick;
  overflow: auto;
  text-wrap: pretty;
}

#indicator {
  visibility: hidden;
  position: absolute;
  top: calc(var(--top, 0px) - var(--scroll-top, 0px));
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid firebrick;
  transform: translateY(-25%);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
}

.editor,
.overlay {
  font-size: 1rem;
  line-height: 1.2;
  white-space: pre;
}

#controls {
  position: fixed;
  top: 4em;
  right: 2em;
  display: none;
}

.controls {
  position: relative;
  display: flex;
  gap: 1.5em;
  padding: .5em 1.25em;
  background: #1111;
  border-radius: 4px;
}

.controls::before,
.controls::after {
  content: '';
  position: absolute;
  z-index: -1;
  inset: 0;
  transform: scale(.95);
  border-radius: inherit;
  opacity: 0;
}

.controls::before {
  background: #aef;
  animation: pulse 2s infinite;
}

.controls::after {
  background: #fefefe66;
  transition: transform 200ms ease-in-out;
}

.controls:hover::before,
.controls:hover::after {
  opacity: 1;
}

.controls:hover::before {
  transform: scale(.98);
  filter: blur(2px);
}

.controls:hover::after {
  transform: scale(1.025, 1.1);
}

.controls:hover {
  background: #111f;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.0125);
  }

  100% {
    transform: scale(1);
  }
}

.hidden {
  display: none !important;
}

.opaque {
  opacity: 1 !important;
  background: #111 !important;
}

input {
  all: unset;
  opacity: .2;
  filter: saturate(0) invert(1);
  cursor: pointer;
  transition: opacity 200ms ease-in-out;
  padding: .25em .5em;
}

input:hover {
  opacity: 1;
}

.icon {
  text-align: center;
  line-height: 1;
}

#btnToggleView {
  width: 1.25em;
}

#btnToggleView::after {
  content: '👁';
}

#btnToggleView:checked::after {
  content: '✏️';
}

#btnToggleResolution::after {
  content: '1️⃣';
}

#btnToggleResolution:checked::after {
  content: '2️⃣';
}

#btnReset::after {
  content: '⏮️';
}



/* HEADER */
body > .header {
  width: inherit;
  height: 40px;
  background: #1111;
  box-shadow: 0px 1px 7px #3f3f3f;
  position: absolute;
  display: flex;
  flex-direction: row;
  font-family: Arial;
  z-index: 3;
}

body > .header {
  
}






















/* HEADER - SECTION CONTAINER*/
body > .header .section-container {
  width: 100%;
  height: inherit;
  margin: auto;
  z-index: 1;
}


/* HEADER -SECTION CONTAINER - a */
body > .header .section-container a {
  width: 40px;
  height: inherit;
  margin: auto;
  padding: 0px;
  cursor: pointer;
  color: black;
  font-size: 15px;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: flex;
  overflow: hidden;
}

body > .header .section-container.selected a {
  border-bottom: 1px solid #000;
}

/* a CONTENT ::BEFORE */
body > .header .section-container a.icon::before {
  width: inherit;
  height: inherit;
  background-size: 70%;
  position: relative;
}

body > .header .section-container a.icon.contact::before {
  background-size: 75%;
}


/* SECTION CONTAINER - MENU */
body > .header .section-container .menu {
  width: 200px;
  height: 50px;
  background: transparent;
  position: absolute;
  right: 0px;
  border-radius: 0px 0px 5px 5px;
  box-shadow: 0px 5px 7px #35393b;
  display: flex;
}

body > .header .section-container.contact .menu {
  opacity: 0;
}

body > .header .section-container.contact .menu.show {
  opacity: 1;
}

body > .header .section-container .menu span {
  width: fit-content;
  height: fit-content;
  background: transparent;
  position: relative;
  margin: auto;
}
